<ul class="nav nav-tabs">
	<li role="presentation"<% if tab == 'focus' %> class="active"<% end %>>
		<a href="/focus">Focus</a>
	</li>
	<li role="presentation"<% if tab == 'all' %> class="active"<% end %>>
		<a href="/all">All</a>
	</li>
</ul>
