<%= render template: "problems/create" %>

<hr />

<ul class="nav nav-tabs">
	<li role="presentation" class="active"><a href="/focus">Focus</a></li>
	<li role="presentation"><a href="/all">All</a></li>
</ul>

<%= render template: "problems/index" %>
