<% if @user %>
	<%= render template: "problems/create" %>

	<hr />

	<ul class="nav nav-tabs">
		<li role="presentation"><a href="#">Focus</a></li>
		<li role="presentation" class="active"><a href="#">All</a></li>
	</ul>

	<%= render template: "problems/index" %>
<% else %>
	<p>You must sign in first</p>
<% end %>
